{
  "trailingComma": "none",
  "semi": true,
  "printWidth": 100,
  "tailwindConfig": "./tailwind.config.cjs",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson",
    "prettier-plugin-tailwindcss"
  ]
}
